<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" integrity="sha256-HEtF7HLJZSC3Le1HcsWbz1hDYFPZCqDhZa9QsCgVUdw=" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>
<body>
<section class="hero is-fullheight is-light">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <aside class="menu">
          <p></p>
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a href="/users//dashboard">Home</a></li>
            <li><a class="is-active" href="/users//profil">Profil</a></li>
            <li><a href="/users//modules">Modules</a></li>
            <li><a href="/users//messenger">Messenger</a></li>
            <li><a href="/users//logout">Log Out</a></li>
          </ul>
        </aside>
      </div>
      <div class="column is-9">
        <nav class="breadcrumb" aria-label="breadcrumbs">
        </nav>
        <section class="hero is-link welcome is-small">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Profil
              </h1>
              <h2 class="subtitle">
                Edition
              </h2>
            </div>
          </div>
        </section>
        <br>
        <section class="hero is-dark welcome is-small">
          <div class="hero-body">
            <div class="container">
              <div class="box">
                <form id="mForm" method="PUT" action="/signup" enctype="application/json">
                  <div class="field">
                    <label class="label has-text-left">User Name</label>
                    <div class="control">
                      <input name="userName" value="<%= data.userName %>" class="input is-small" type="text" autofocus="" />
                    </div>
                  </div>
                  <div class="field">
                    <label class="label has-text-left">First Name</label>
                    <div class="control">
                      <input name="firstName" value="<%= data.firstName %>" class="input is-small" type="text" autofocus="" />
                    </div>
                  </div>
                  <div class="field">
                    <label class="label has-text-left">Last Name</label>
                    <div class="control">
                      <input name="lastName" value="<%= data.lastName %>" class="input is-small" type="text" autofocus="" />
                    </div>
                  </div>
                  <div class="field">
                    <label class="label has-text-left">Email</label>
                    <div class="control">
                      <input name="email" value="<%= data.email %>" class="input is-small" type="text" placeholder="xxx@xxx.com" autofocus="" />
                    </div>
                  </div>
                  <div class="field">
                    <label class="label has-text-left">Birth Date</label>
                    <div class="control">
                      <input name="birthDate" value="<%= data.birthDate %>" class="input is-small" type="text" autofocus="" />
                    </div>
                  </div>
                  <a class="button is-info" href="dashboard">
                    Update
                  </a>
                  <a class="button is-danger" href="dashboard">
                    Cancel
                  </a>
                </form>
              </div>

              <div class="box">
                <form id="mForm" method="PUT" action="/signup" enctype="application/json">
                  <div class="field">
                    <label class="label has-text-left">Password</label>
                    <div class="control">
                      <input name="password" class="input is-small" type="text" autofocus="" />
                    </div>
                  </div>
                  <div class="field">
                    <label class="label has-text-left">Password Confirmation</label>
                    <div class="control">
                      <input name="password_confirmation" class="input is-small" type="text" autofocus="" />
                    </div>
                  </div>
                  <a class="button is-info" href="dashboard">
                    Update
                  </a>
                  <a class="button is-danger" href="dashboard">
                    Cancel
                  </a>
                </form>
              </div>

            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>